<h5>Additional Profile Details</h5>
<div>
  <h3>Hospital Location:   {{ customer.metafields.customer_fields.location.value }}</h3>
  <h3>Department:   {{ customer.metafields.customer_fields.department.value }}</h3>h3>
  <h3>Employment:   {{ customer.metafields.customer_fields.employment.value }}</h3>
</div>