<h3>Additional Profile Details</h3>
<div class="Additional-address-container">
  {% if customer.metafields.customer_fields.location.value != blank %} 
  <p>Hospital Location: {{ customer.metafields.customer_fields.location.value }}</p>
  {% endif %}
  {% if customer.metafields.customer_fields.department.value != blank  %}
  <p>Department: {{ customer.metafields.customer_fields.department.value }}</p>
  {% endif %}
  {% if customer.metafields.customer_fields.employment.value != blank  %}
  <p>Employment: {{ customer.metafields.customer_fields.employment.value }}</p>
  {% endif %}
  {% if customer.metafields.customer_fields.colors.value != blank  %}
  <p>Color Options: {{ customer.metafields.customer_fields.colors.value }}</p>
  {% endif %}
</div>

{% style %}
  h3 {
  
  }
{% endstyle %}

