<color-warning>
  <div class="color-warning">
    <p class="warning-message">Please Note: We recommend purchasing scrub tops and bottoms from the <strong>same</strong> collection. Products from different collections may not be an exact color match.</p>
  </div>
</color-warning>
{% style %}
  .color-warning {
     display: flex;
    justify-content: center;
  }
  .warning-message {
    font-size: 1.6rem;
  }
{% endstyle %}