
{%- if customer == blank -%}
    
{% else %}
    <li><a href="/collections/tops" class="{% if link_type == 'mobile'  %}menu-drawer{% else %}header{% endif %}__menu-item list-menu__item link link--text focus-inset caption-large">
        Tops
    </a></li>
    <li><a href="/collections/pants" class="{% if link_type == 'mobile'  %}menu-drawer{% else %}header{% endif %}__menu-item list-menu__item link link--text focus-inset caption-large">
        Pants
    </a></li>
    <li><a href="/collections/jackets" class="{% if link_type == 'mobile'  %}menu-drawer{% else %}header{% endif %}__menu-item list-menu__item link link--text focus-inset caption-large">
        Jackets
    </a></li>
    
{%- endif -%}