


<div style="" >
    <h1>Welcome, {{ customer.first_name }} we hope you enjoy these shopping options</h1>

    {%- for collection_key in customer.metafields.pb_backend.collections.value -%}
        {% render 'card-collection', card_collection: collections[collection_key], extend_height: false %}
    {%- endfor -%}

    <div class="collection-list-wrapper page-width isolate no-heading no-mobile-link section-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000-padding"><slider-component class="slider-mobile-gutter">
      <ul class="collection-list contains-card contains-card--collection grid grid--5-col-desktop grid--2-col-tablet-down collection-list--6-items" id="Slider-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000" role="list"><li id="Slide-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000-1" class="collection-list__item grid__item">
            
<div class="card-wrapper animate-arrow collection-card-wrapper">
  <div class="card
    card--standard
     card--media
    
    
    " style="--ratio-percent: 100%;">
    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;"><div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img srcset="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_red_8d8aa956-5016-47d2-9b42-8a60710b33f6.jpg?v=1666379671&amp;width=165 165w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_red_8d8aa956-5016-47d2-9b42-8a60710b33f6.jpg?v=1666379671&amp;width=330 330w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_red_8d8aa956-5016-47d2-9b42-8a60710b33f6.jpg?v=1666379671 400w" src="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_red_8d8aa956-5016-47d2-9b42-8a60710b33f6.jpg?v=1666379671&amp;width=1500" sizes="
              (min-width: 1400px) 433px,
              (min-width: 750px) calc((100vw - 10rem) / 2),
              calc(100vw - 3rem)" alt="" height="400" width="400" loading="lazy" class="motion-reduce">
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-cardiac-diagnostic" class="full-unstyled-link">
Castle Rock | Cardiac Diagnostic
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>   
      </div>
    </div>
     
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-cardiac-diagnostic" class="full-unstyled-link">
Castle Rock | Cardiac Diagnostic
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>
      </div>
     
  </div>
</div>

          </li><li id="Slide-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000-2" class="collection-list__item grid__item">
            
<div class="card-wrapper animate-arrow collection-card-wrapper">
  <div class="card
    card--standard
     card--media
    
    
    " style="--ratio-percent: 100%;">
    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;"><div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img srcset="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_galaxy_blue_63810f5b-836e-4e08-a48c-3d9f5bcbf514.jpg?v=1666379669&amp;width=165 165w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_galaxy_blue_63810f5b-836e-4e08-a48c-3d9f5bcbf514.jpg?v=1666379669&amp;width=330 330w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_galaxy_blue_63810f5b-836e-4e08-a48c-3d9f5bcbf514.jpg?v=1666379669 400w" src="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_galaxy_blue_63810f5b-836e-4e08-a48c-3d9f5bcbf514.jpg?v=1666379669&amp;width=1500" sizes="
              (min-width: 1400px) 433px,
              (min-width: 750px) calc((100vw - 10rem) / 2),
              calc(100vw - 3rem)" alt="" height="400" width="400" loading="lazy" class="motion-reduce">
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-emergency-nursing" class="full-unstyled-link">
Castle Rock | Emergency Nursing
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>   
      </div>
    </div>
     
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-emergency-nursing" class="full-unstyled-link">
Castle Rock | Emergency Nursing
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>
      </div>
     
  </div>
</div>

          </li><li id="Slide-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000-3" class="collection-list__item grid__item">
            
<div class="card-wrapper animate-arrow collection-card-wrapper">
  <div class="card
    card--standard
     card--media
    
    
    " style="--ratio-percent: 100%;">
    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;"><div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img srcset="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_navy_blue_674c0996-fc15-4a88-8cec-d8dbd8aba9ea.jpg?v=1666379670&amp;width=165 165w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_navy_blue_674c0996-fc15-4a88-8cec-d8dbd8aba9ea.jpg?v=1666379670&amp;width=330 330w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_navy_blue_674c0996-fc15-4a88-8cec-d8dbd8aba9ea.jpg?v=1666379670 400w" src="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_navy_blue_674c0996-fc15-4a88-8cec-d8dbd8aba9ea.jpg?v=1666379670&amp;width=1500" sizes="
              (min-width: 1400px) 433px,
              (min-width: 750px) calc((100vw - 10rem) / 2),
              calc(100vw - 3rem)" alt="" height="400" width="400" loading="lazy" class="motion-reduce">
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-medical-imaging" class="full-unstyled-link">
Castle Rock | Medical Imaging
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>   
      </div>
    </div>
     
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-medical-imaging" class="full-unstyled-link">
Castle Rock | Medical Imaging
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>
      </div>
     
  </div>
</div>

          </li><li id="Slide-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000-4" class="collection-list__item grid__item">
            
<div class="card-wrapper animate-arrow collection-card-wrapper">
  <div class="card
    card--standard
     card--media
    
    
    " style="--ratio-percent: 100%;">
    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;"><div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img srcset="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_black_56a65244-eeda-4450-83fc-3b7a084cfb08.jpg?v=1666379668&amp;width=165 165w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_black_56a65244-eeda-4450-83fc-3b7a084cfb08.jpg?v=1666379668&amp;width=330 330w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_black_56a65244-eeda-4450-83fc-3b7a084cfb08.jpg?v=1666379668 400w" src="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_black_56a65244-eeda-4450-83fc-3b7a084cfb08.jpg?v=1666379668&amp;width=1500" sizes="
              (min-width: 1400px) 433px,
              (min-width: 750px) calc((100vw - 10rem) / 2),
              calc(100vw - 3rem)" alt="" height="400" width="400" loading="lazy" class="motion-reduce">
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-nursing" class="full-unstyled-link">
Castle Rock | Nursing
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>   
      </div>
    </div>
     
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-nursing" class="full-unstyled-link">
Castle Rock | Nursing
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>
      </div>
     
  </div>
</div>

          </li><li id="Slide-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000-5" class="collection-list__item grid__item">
            
<div class="card-wrapper animate-arrow collection-card-wrapper">
  <div class="card
    card--standard
     card--media
    
    
    " style="--ratio-percent: 100%;">
    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;"><div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img srcset="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_pewter_dc670eff-aa71-43fa-905e-5e3b6f3becf3.jpg?v=1666379672&amp;width=165 165w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_pewter_dc670eff-aa71-43fa-905e-5e3b6f3becf3.jpg?v=1666379672&amp;width=330 330w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_pewter_dc670eff-aa71-43fa-905e-5e3b6f3becf3.jpg?v=1666379672 400w" src="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_pewter_dc670eff-aa71-43fa-905e-5e3b6f3becf3.jpg?v=1666379672&amp;width=1500" sizes="
              (min-width: 1400px) 433px,
              (min-width: 750px) calc((100vw - 10rem) / 2),
              calc(100vw - 3rem)" alt="" height="400" width="400" loading="lazy" class="motion-reduce">
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-resp-therapy" class="full-unstyled-link">
Castle Rock | Resp Therapy
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>   
      </div>
    </div>
     
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-resp-therapy" class="full-unstyled-link">
Castle Rock | Resp Therapy
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>
      </div>
     
  </div>
</div>

          </li><li id="Slide-template--15924241989793__862c3060-5878-47df-a658-cdeb2efd7000-6" class="collection-list__item grid__item">
            
<div class="card-wrapper animate-arrow collection-card-wrapper">
  <div class="card
    card--standard
     card--media
    
    
    " style="--ratio-percent: 100%;">
    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;"><div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img srcset="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_silver_grey_85931a5a-d6c8-45a0-8117-4386b4972efe.jpg?v=1666379673&amp;width=165 165w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_silver_grey_85931a5a-d6c8-45a0-8117-4386b4972efe.jpg?v=1666379673&amp;width=330 330w,//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_silver_grey_85931a5a-d6c8-45a0-8117-4386b4972efe.jpg?v=1666379673 400w" src="//cdn.shopify.com/s/files/1/0600/6118/8257/collections/dept-images_silver_grey_85931a5a-d6c8-45a0-8117-4386b4972efe.jpg?v=1666379673&amp;width=1500" sizes="
              (min-width: 1400px) 433px,
              (min-width: 750px) calc((100vw - 10rem) / 2),
              calc(100vw - 3rem)" alt="" height="400" width="400" loading="lazy" class="motion-reduce">
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-telemetry" class="full-unstyled-link">
Castle Rock | Telemetry
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>   
      </div>
    </div>
     
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="/collections/castle-rock-telemetry" class="full-unstyled-link">
Castle Rock | Telemetry
<span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>
</span>
            </a>
          </h3></div>
      </div>
     
  </div>
</div>

          </li></ul></slider-component></div>

</div>