{% comment %} Hide add to cart for all customers {% endcomment %}

<style>
  .product-form__buttons{
    display: none;
  }
</style>


{% for collections in customer.metafields.pb_backend.collections.value %}
<li>{{ collections }}</li>
{% endfor %}