{% comment %} Hide add to cart for all customers {% endcomment %}

<style>
  .product-form__buttons{
    display: none;
  }
</style>
<h1>I am fine and you?</h1>

{% if customer.metafields.customer_fields.location == "St Anthony's" %}

{% endif %}