{% comment %} Hide add to cart for all customers {% endcomment %}

<style>
  .product-form__buttons{
    display: none;
  }
</style>

{% if customer.metafields.pb_backend.collections %}

{% endif %}
ccc
{% assign values = customer.metafields.pb_backend.collections %}
{% for value in values %}
  {{value}} {{ collection.handle }}
{% endfor %}

{% for collections in product.metafields.pb_backend.collections.value %}
<li>{{ collections }}</li>
{% endfor %}